<div class="nav">
<h2 align="center" style="font-variant: small-caps; font-style: italic; font-weight: lighter">
	HISTORIA DE LA PSICOPROFILAXIS
</h2><br />
<%= image_tag "actual_directora.png", heigh: 600, width: 300, hspace: "20", vspace: "15", align: "left" %>
<h3 style="text-align: justify; width: 900px;" align="center">
	<p style="font-variant: small-caps; font-style: italic; font-weight: lighter">
	Ma. Luisa Ruiz Díaz, presidenta de ANIPP relata brevemente la historia de la Perinatal en México,
	las acciones de las Educadoras Perinatales y los  objetivos que tenemos actualmente para la preparación
	de las parejas que esperan un bebé.
	</p>
	<div style="font-style: italic; font-weight: lighter">
		<%= link_to "Historia de la psicoprofilaxis en México!","http://www.youtube.com/watch?v=ZxLDdPfwSfE"%>
	</div>
</h3>
</div>
<br /><br /><br />
<div class="nav">
<h3 align="center" style="font-variant: small-caps; font-style: italic; font-weight: lighter">
	CÓDIGO DE ÉTICA DE LA EDUCADORA PERINATAL
</h3><br />
<h4 style="width: 850px; padding-left: 100px;">
<p align="justify" style="font-variant: small-caps; font-style: italic; font-weight: lighter">
	1. Respeta la individualidad de los padres que esperan un hijo
 	y los miembros de su familia; ofrece tus servicios independientemente
 	del nivel socioeconómico, características y metas personales.	
</p>
<p align="justify" style="font-variant: small-caps; font-style: italic; font-weight: lighter">
	2. Asume la responsabilidad de sus acciones y juicios personales.
</p>
<p align="justify" style="font-variant: small-caps; font-style: italic; font-weight: lighter">
	3. Colabora con otros profesionales de la salud y personas interesadas
 	en la promoción de esfuerzos colectivos locales, estatales y nacionales
 	para satisfacer las necesidades de salud, seguridad y educación de las
 	familias en la etapa reproductiva.
</p>
<p align="justify" style="font-variant: small-caps; font-style: italic; font-weight: lighter">
	4. Concilia los intereses de los usuarios de los servicios de salud propiciando
	la toma de decisiones informadas, la autonomía y capacidad de las parejas y
	su colaboración con el equipo de salud.
</p>
<p align="justify" style="font-variant: small-caps; font-style: italic; font-weight: lighter">
	5. Se mantiene actualizada y competente en la educación perinatal e incorpora
 	a su práctica profesional los nuevos conocimientos que se desarrollan.
</p>
<p align="justify" style="font-variant: small-caps; font-style: italic; font-weight: lighter">
	6. Participa en actividades que contribuyan al constante desarrollo
 	y mejoramiento del conocimiento para la educación perinatal.
</p>
<p align="justify" style="font-variant: small-caps; font-style: italic; font-weight: lighter">
	7. Para aceptar responsabilidades o buscar asesoría, utiliza como criterio
 	su capacidad de juicio y sus habilidades personales.
</p>
<p align="justify" style="font-variant: small-caps; font-style: italic; font-weight: lighter">
	8. Salvaguarda el derecho de privacidad de las parejas, manteniendo discreción
 	con la información de carácter confidencial.
</p>
<p align="justify" style="font-variant: small-caps; font-style: italic; font-weight: lighter">
	9. Protege a las parejas y al público en general ante acciones que atenten contra
 	la salud y seguridad de los mismos, ya sea por incompetencia, falta de ética o 
 	ejercicio ilegal del personal de salud.
</p>
</h4>
</div>
<br /><br /><br />
<div class="about">
	<%= image_tag "gabriela_oria.jpg", heigh: 500, width: 250, hspace: "15", vspace: "15", align: "left" %>

<h3 style="text-align: center; font-variant: small-caps; font-style: italic; font-weight: lighter">
	Gabriela Oria de Quinzaños <small style="color: white">Expresidenta de ANIPP 1990-1994</small>
</h3> 
		
<h4>
	<p style="text-align: justify; font-variant: small-caps; font-style: italic; font-weight: lighter">
		Me he dedicado por mas de cuarenta años a la Educación Perinatal, preparando a parejas
		para recibir a sus bebés con un parto natural, seguro y saludable.  He tenido muchas
		oportunidades de acompañarlos en sus partos y cada día reconozco con mas claridad que
		el embarazo y el parto son sagrados.
	</p>
	<p style="text-align: justify; font-variant: small-caps; font-style: italic; font-weight: lighter">
		Me asombro ante el misterio de la vida y ante la misión de los padres que comparten con
		Dios la capacidad de crear a un nuevo ser humano, recibiendo un voto de confianza al ser
		elegidos para hacerse cargo de cada uno de sus hijos.
	</p>
	<p style="text-align: justify; font-variant: small-caps; font-style: italic; font-weight: lighter">
		Mi propia experiencia como madre de seis hijos me transformó y fue decisiva en mi opción
		de vida; tuve el gran deseo de compartir lo que yo viví después de haber asistido al curso
		de Psicoprofilaxis y haber experimentado la belleza y el gozo de parir con dignidad, acompañada
		por mi esposo y mi Doula, sin intervenciones médicas innecesarias y siendo participe en la toma
		de decisiones en el cuidado de mi salud y la de mis hijos.
	</p>
	<p style="text-align: justify; font-variant: small-caps; font-style: italic; font-weight: lighter">
		En1 994 tuve la oportunidad de fundar, junto con Elena Carrillo y Guadalupe Trueba, la Especialidad
		en Educación Perinatal en la Universidad Anáhuac, la cual cuenta con reconocimiento oficial de la
		Secretaría de Educación Pública y las certificaciones de Lamaze International y DONA International. 
	</p>
	<p style="text-align: justify; font-variant: small-caps; font-style: italic; font-weight: lighter">
		Mi sueño de compartir un modelo de atención del parto que respetara la fisiología femenina y 
		favoreciera la capacidad natural que tenemos las mujeres para dar a luz, se ha vuelto realidad 
		a través de nuestros egresados, generando presencia en todos los estados la República Mexicana 
		a través de cursos de preparación para el parto y lactancia materna a parejas, logrando cambios
		importantes, beneficiando a las madres y a sus bebés.
	</p>
	<p style="text-align: justify; font-variant: small-caps; font-style: italic; font-weight: lighter">
		Creo en la educación perinatal como una parte esencial en nuestro país. Veo la importancia de formar
		especialistas en Educación Perinatal profesionales, comprometidos y capaces de trabajar en el equipo
		de salud, sumando esfuerzos, compartiendo conocimientos y apoyando a las madres en el embarazo,
		fomentando el parto natural y la lactancia temprana, practicando el contacto piel a piel entre la
		madre y el bebé, así como el alojamiento conjunto durante la estancia hospitalaria por los enormes
		beneficios que estas prácticas conllevan.
	</p>
</h4>
</div>
<br /><br /><br />
<div class="nav">
	<%= image_tag "guadalupe_trueba.png", heigh: 500, width: 250, hspace: "15", vspace: "15", align: "left" %>
	
	<h3 style="text-align: center; font-variant: small-caps; font-style: italic; font-weight: lighter">
		Nunca comeremos de esa fruta <small style="color: white">Por Guadalupe Trueba</small>
	</h3>
<h4>
	<p style="text-align: justify; font-variant: small-caps; font-style: italic; font-weight: lighter">
		Inicié mi profesión como educadora para el parto hace 40 años. La lucha por defender el parto natural
		–que entonces se llamaba “Parto Psicoprofiláctico”– y que hoy conocemos como parto respetado, no medicado,
		no intervenido, continua siendo el camino a seguir en mi agenda que nunca termina. En el camino surgieron
		conceptos como “Doula”, “Parto Humanizado”, “Violencia Obstétrica”, “Parto en Agua”, “Parto Vertical” y
		muchos más.	
	</p>
	<p style="text-align: justify; font-variant: small-caps; font-style: italic; font-weight: lighter">
		Recuerdo que hace años enseñábamos un sin fin de modos de respirar y formas para relajarse como estrategias
		para trabajar en un parto altamente intervenido y confinado  a una cama; la separación mamá-bebé era una
		rutina, así como muchas otras condiciones que alteraban la fisiología del parto, de la lactancia y del
		apego.
	</p>
	<p style="text-align: justify; font-variant: small-caps; font-style: italic; font-weight: lighter">
		Para resumir, en 1993 –hace ya 20 años– escribí un artículo que ahora deseo reciclar por la importancia
		que tiene su contenido con relación al tiempo transcurrido: cuarenta años de trabajo, altas y bajas,
		innumerables experiencias, muchas decepciones pero, sobre todo, grandes éxitos y logros; hoy puedo decir
		que desde que me inicié en esta profesión, he visto muchos cambios favorables, así como retos para seguir
		trabajando.
	</p>
	<p style="text-align: justify; font-variant: small-caps; font-style: italic; font-weight: lighter"> 
		El artículo se titulaba “Nunca comeremos de esa fruta” y, entre muchas otras cosas, contaba la historia
		de una mujer vieja que plantó un dátil en el desierto sabiendo que no tendría la oportunidad de verlo dar
		frutos porque toma 80 años a las raíces originadas de esa semilla, enraizar profundamente en la árida tierra
		para buscar y alcanzar el agua que le permita crecer a la planta. En el curso de esos 80 años, parecía que
		el árbol iba a morir abatido por la sequía, los fuertes vientos y las tormentas de arena que tuvo que
		soportar. Pero el árbol de esa historia perseveró, creció y dio frutos.
	</p>
	<p style="text-align: justify; font-variant: small-caps; font-style: italic; font-weight: lighter">
		Si no aprendemos que el proceso toma mucho tiempo, podemos cortar el dátil antes de tiempo. Pero si realmente
		entendemos, vamos a continuar salvaguardando el árbol hasta que llegue el tiempo para que de sus frutos. 
	</p>
	<p style="text-align: justify; font-variant: small-caps; font-style: italic; font-weight: lighter">
		Hemos plantado dátiles sin saber quién los regará y cuidará. Debemos continuar plantándolos con amor y
		sabiendo que es posible que no veamos ni comamos sus frutos. Éste es el secreto de la disciplina de
		los profetas, mártires, revolucionarios y, ¿por qué no? De las educadoras de parto, médicos
		y demás visionarios del nacimiento respetado. Mantengamos el coraje y la fuerza para que nuestras
		semillas se traduzcan en nuestras más grandes esperanzas.
	</p><br />
	<p style="text-align: justify; font-variant: small-caps; font-style: italic; font-weight: lighter">
		El artículo terminaba citando las palabras de Rudy Albin en su libro “Children of the Future”:
	</p>
	<p style="text-align: justify; font-variant: small-caps; font-style: italic; font-weight: lighter">	
		“¿Qué es la esperanza? Es la sensación de que la imaginación es más real de lo que es y que la realidad
		es menos real de lo que parece… Es la certeza de que la presión y la represión no tienen la última
		palabra… Es la sospecha de que la realidad es más completa de lo que el realismo nos quiere hacer creer…
		que las fronteras de las cosas posibles, no están determinadas por los límites actuales y que de una
		forma inesperada y maravillosa, la vida nos prepara para que eventos creativos nos den un camino de
		libertad. El sufrimiento y la esperanza viven dependiendo uno del otro, y el sufrimiento sin la esperanza
		produce resentimiento y desesperación. La esperanza sin sufrimiento, crea ilusiones e insensibilidad”
	</p>
	<p style="text-align: justify;">	
		<h3 style="font-variant: small-caps; font-style: italic; font-weight: lighter" align="center">
			Plantemos dátiles, aún sabiendo que no comeremos de sus frutos.
		</h3>
	</p>
</h4>
</div>
