<div class="nav">
<br />	
<h3 align="center" style="font-variant: small-caps; font-style: italic; font-size: 30px;">
	¿Cómo pertenecer a ANIPP?
</h3><br />
<h3 style="text-align: justify; width: 1000px; font-variant: small-caps; font-style: italic; font-weight: lighter" align="center">
	<p>
		La Asociación Nacional de Instructoras en Psicoprofilaxis Perinatal agrupa a profesionales que respetan
		la fisiología del embarazo, del parto, la capacidad de la mujer de dar a luz y la lactancia materna.
		Todas nuestras Instructoras en Psicoprofilaxis y Educadoras Perinatales están certificadas para informar
		y acompañar a los futuros padres en la planeación y nacimiento de sus hijos.
	</p>
</h3>
<h3 style="text-align: justify; padding-left: 75px; width: 900px;  papafont-variant: small-caps; font-style: italic; font-weight: lighter" align="center">	
	<br />
	<p>
		Formar parte de la Asociación Nacional de Instructoras en Psicoprofilaxis Perinatal te proporciona:
	</p>
	<br />
	<p>
		1. El respaldo de una red de profesionales que están al pendiente de las necesidades de las futuras
		madres y padres del México actual. 
	</p>
	<p>
		2. Una Credencial que te acredita como miembro de nuestra Asociación.
	</p>
	<p>
		3. Información sobre eventos de actualización y capacitación con reconocimiento internacional. Esto
		es posible gracias al cumplimiento de estándares internacionales y al reconocimiento de Lamaze
		Internacional.
	</p>
	<p>
		4. Precios promocionales en nuestros eventos y capacitaciones.
	</p>
	<p>
		5. La posibilidad de anunciarte en nuestro directorio nacional de Instructoras en Psicoprofilaxis
		y Educadoras Perinatales, si así lo deseas.
	</p>
	<br />
	<div style="text-align: center">
		<%= link_to "Descarga la solicitud para pertenecer a ANIPP", "/data/Ficha_de_Registro_ANIPP.pdf"%>
	</div>
</h3>
</div>
<br />
<div class="nav">
<h4 align="center" style="font-variant: small-caps; font-style: italic; font-weight: lighter">
	Para pertenecer a nuestra Asociación necesitas:
</h4><br />	
<h4 align="justify" style="width: 850px; padding-left: 100px; font-variant: small-caps; font-style: italic; font-weight: lighter">
	<p>
	1. Descargar el formato de solicitud, llenarlo, firmarlo y digitalizarlo.
	</p>
	<p>
	2. Mandarlo con los siguientes documentos a <small style="font-size: 17px;">contacto@anipp.org.mx</small>
	</p>
	<p>
	3. Copia digital de Diploma o Certificación
	</p>
	<p>
	4. Resumen Curricular de una página, que incluya experiencia en Psicoprofilaxis Perinatal.
	</p>
	<p>
	5. Copia digitalizada de  IFE, pasaporte o licencia.
	</p>
	<p>
	6. Una foto digital de medio cuerpo hacia arriba.
	</p>
	<p>
	7. El comprobante digitalizado del pago de la cuota anual de $1,000.00 M.N. con nombre y
	la leyenda "pago de la anualidad 2014".
	</p>
	<p>
	8. El deposito se realizará a la siguiente cuenta a nombre de: Asoc Nal de Instructoras
	en Psicoprofilaxis Perinatal A.C.
	</p>
	<p style="padding-left: 200px;">
					Banamex Cuenta: 112759 Sucursal: 7008
	</p>
	<p>
	9. Recibir el correo de confirmación de que se ha recibido la información completa.
	</p>
	<P>
	10. Dictamen de aceptación.
	</p>
</h4><br /><br />
<h4 align="center" style="font-variant: small-caps; font-style: italic; font-weight: lighter">
	Para obtener la credencial es necesario:
</h4><br />	
<h4 align="justify" style="width: 850px; padding-left: 100px; font-variant: small-caps; font-style: italic; font-weight: lighter">
	<p>
	1. Tener pagada la cuota ANIPP del año en curso.
	</p>
	<p>
	2. Adjuntar copia digitalizada, con nombre, del comprobante del pago de la credencial,  $100.00 M.N.
	más gastos de envío si no puedes recogerla en nuestras oficinas o vives en el interior de la República.
	</p>
	<p>
	3. Copia digitalizada de IFE, pasaporte o licencia.
	</p>
	<p>
	4. Una foto digital de medio cuerpo hacia arriba
	</p>
	<p>
	5. El deposito se realizará a la siguiente cuenta a nombre de la Asociación Nacional de Instructoras
	en Psicoprofilaxis Perinatal A.C.
	</p>
	<p style="padding-left: 200px;">
					Banco Santander Cuenta: 65-50430566-3
	</p>
	<p style="padding-left: 200px;">
					Clabe: 014180655043056631
	</p>
	<p>	
	6.  Recibir confirmación  de se ha recibido la información de manera correcta.
	</p>
	<p>
	7. Enviar toda la información a <small style="font-size: 17px;">contacto@anipp.org.mx</small> 
	</p>
</h4>
</div>