<div class="hero-unit">
    <h1>ANIPP, bienvenido! <small>en construcción </small></h1>
    <p>El sitio de ANIPP te ayudará la busqueda de Centros de Psicoprofilaxis,cercanos a tu domicio o tu trabajo para que recibas información de la preparación para el parto. Todas las instructoras en este sitio están certificadas para asistirte en esta bella experiencia</p>
    <p><a href="#" class="btn btn-primary btn-large">Continua &raquo;</a></p>
</div>
<!-- Example row of columns -->
<div class="row">
    <div class="span4">
        <h2>Patrocinador</h2>
        <p>Información del patrocinador. </p>
        <p><a class="btn" href="#">Detalles &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Patrocinador</h2>
        <p>Información del patrocinador</p>
        <p><a class="btn" href="#">Detalles &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Patrocinador</h2>
        <p>Informaciòón del patrocinador</p>
        <p><a class="btn" href="#">Detalles &raquo;</a></p>
    </div>
</div>

<hr>

<footer id="home">
    <p>&copy; Think-Tank Consulting 2013</p>
</footer>