<div class="hero-unit">
    <h1>ANIPP, bienvenido! <small>en construcción </small></h1>
    <p>La Asociación Nacional de Instructoras en Psicoprofilaxis Perinatal agrupa a profesionales que respetan la fisiología del embarazo, del parto, la capacidad de la mujer de dar a luz y la lactancia materna. Todas nuestras instructoras están certificadas para asistirte en esta bella experiencia. </p>
    <p><a href="#" class="btn btn-primary btn-large">Continua &raquo;</a></p>
</div>
<!-- Example row of columns -->
<div class="row">
    <div class="span4">
        <h2>Patrocinador</h2>
        <p>Información del patrocinador. </p>
        <p><a class="btn" href="#">Detalles &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Patrocinador</h2>
        <p>Información del patrocinador</p>
        <p><a class="btn" href="#">Detalles &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Patrocinador</h2>
        <p>Información del patrocinador</p>
        <p><a class="btn" href="#">Detalles &raquo;</a></p>
    </div>
</div>

<hr>

<footer id="home">
    <p>&copy; Think-Tank Consulting 2013</p>
</footer>