<div class="nav">
<br />	
<h3 align="center" style="font-variant: small-caps; font-style: italic; font-size: 30px;">
	El parto en agua de Aline
</h3>
<br />
  <video class="video-js vjs-default-skin" controls preload="auto" width="600" height="300" align="center" style="padding-left: 250px">
	<source src="PartoAline.mp4" type='video/mp4'/>
	<source src="PartoAline.webm" type='video/webm'/>
  </video>
<br />
<br />

<h3 style="text-align: justify; width: 1000px; font-variant: small-caps; font-style: italic; font-weight: lighter" align="center">
	<p>
		"La salud de las mujeres durante el embarazo y el parto es una de las cuestiones más importantes por sus
		 implicaciones en el bienestar familiar, económico y social. Preservarla y promocionarla deben ser un
		 objetivo primordial de nuestras instituciones.
	</p>
	<br />
	<p>
		 La Organización mundial de la Salud (OMS) define salud reproductiva como una condición de bienestar físico,
		 mental y social en los aspectos relativos al sistema reproductivo en todas las etapas de la vida.
	</p>
	<br />
	<p>
		 Lo anterior implica, entre otras cosas, el derecho a acceder a servicios de salud adecuados que permitan
		 a la mujer llevar a término su embarazo y dar a luz de forma segura. Ello necesariamente incluye el derecho
		 de las mujeres embarazadas a no ser sometidas por el personal médico a rutinas médicas innecesarias,
		 el derecho a que se expresen según su necesidad, y el derecho al buen trato. El derecho a un parto seguro y
		 digno debe ser reconocido como derecho universal de las mujeres"
	</p>	
</h3>
<h4 style="text-align: justify; width: 400px;  papafont-variant: small-caps; font-style: italic; font-weight: lighter">	
	<br />
	<p>
		Cámara de Diputados
		Gaceta Parlamentaria, Número 3216-VI, <br />
		Martes 8 de marzo de 2011
	</p>
</h4>
</div>
